/* THIS FILE IS JUST FOR EXAMPLES, DELETE IT IF YOU DON'T NEED IT */

/* SHELL ---------------------------------------- */
html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

#app {
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
  min-height: 100vh;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  color: var(--text);
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}
h1 .highlight,
h3 .highlight {
  color: var(--highlight);
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

.h1-input {
  background-color: var(--background);
  color: var(--text);
  border: 2px solid var(--input-border);
  font-size: 3.2rem;
  text-align: center;
  outline: none;
  border-radius: 8px;

  &:focus {
    border: 2px solid var(--input-border-focus);
  }

  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
}

/* TAGS ----------------------------------------- */
a {
  text-decoration: none;
  color: var(--link);
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

/* CONTAINER ------------------------------------ */
.container {
  margin: 0 auto;
  padding: 30px 40px;
}
.container.container-center {
  text-align: center;
}
.container.container-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* BUTTONS -------------------------------------- */
a.button,
button {
  background-color: var(--button-color);
  border: none;
  border-radius: 8px;
  color: var(--button-text);
  cursor: pointer;
  font-size: 0.8rem;
  padding: 15px 20px;
  text-align: center;

  &:hover {
    background-color: var(--button-hover-color);
  }

  &:active {
    background-color: var(--button-active-color);
  }
}

.button-with-icon {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  line-height: 1.5em;

  svg {
    fill: currentColor;
    width: 1.5em;
    height: 1.5em;
  }
}
