.updateForm {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.iconButton {
  font-size: 24px;
  line-height: 0;
  padding: 15px;

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}