
@keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.spinner div div {
  animation-name: fade;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
