.label {
  position: relative;
  font-family: sans-serif;
  font-size: 14px;
  display: inline-flex;
  flex-direction: column;
}

.text {
  position: absolute;
  top: 0.5em;
  left: 0.3em;
  transition:
    top 0.3s,
    font-size 0.3s,
    padding 0.3s;
  background: var(--background);
  color: var(--text);
  padding: 0;
  user-select: none;
  pointer-events: none;
}

.input {
  padding: 0.5em 0.3em 0.3em;
  border: 2px solid var(--input-border);
  border-radius: 0.3em;
  font-family: sans-serif;
  outline: none;
  font-size: 1em;
  background: var(--background);
  color: var(--text);

  &::placeholder {
    color: transparent;
  }

  &:focus {
    border-color: var(--input-border-focus);
  }
}

.input:focus ~ .text,
.input:not(:placeholder-shown) ~ .text {
  top: -0.5em;
  left: 0.375em;
  font-size: 0.8em;
  padding: 0.15em;
}
