@import '../../../styles/mixins';

.card {
  @mixin theme-light {
    --card-background: #c98;
    --card-text: #333;
    --hover-filter: brightness(75%);
    --highlight-color: #669;
  }

  @mixin theme-dark {
    --card-background: #631;
    --card-text: #ccc;
    --hover-filter: brightness(125%);
    --highlight-color: #882;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 120px;
  font-size: 3.5rem;
  background-color: var(--card-background);
  color: var(--card-text);
  border-radius: 20px;
  box-shadow: 0 0 0 0 var(--highlight-color);
  transition: 0.25s box-shadow;

  &.clickable {
    background-color: var(--card-background);
    &:hover {
      filter: var(--hover-filter);
    }
  }

  &.highlight {
    box-shadow: 0 0 5px 5px var(--highlight-color);
  }

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
}
