.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;

  a {
    display: block;
  }

  svg {
    width: 50px;
    height: 50px;
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header li {
  display: inline-flex;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.header li a {
  color: var(--link);
  display: inline-flex;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  color: var(--link-hover);
}
