.anchor {
  color: var(--link);
  display: block;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;

  &:hover {
    color: var(--link-hover)
  }
}

.anchor span:not(.spacer) {
  display: block;
}

.spacer {
  display: none;
  padding: 0 15px;
}

.gitlabLink {
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
}

.gitlabLogo {
  margin: -10px;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .anchor span {
    display: inline !important;
  }
}
