@import '~/styles/mixins';

.passwordStrength {
  display: flex;
}

.gauge {
  width: 100%;
  height: 5px;
  overflow: hidden;
  border-radius: 5px;

  @mixin theme-light {
    background-color: #ccc;
  }

  @mixin theme-dark {
    background-color: #444;
  }
}

.fill {
  background-color: red;
  transition:
    background-color 0.5s,
    width 0.5s;
  height: 100%;
  border-radius: 5px;

  &.empty {
    width: 0%;
  }

  &.weak {
    width: 33%;
  }

  &.medium {
    background-color: yellow;
    width: 67%;
  }

  &.strong {
    background-color: green;
    width: 100%;
  }
}
