.googleButton {
  --google-blue: #4285f4;

  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  padding: 0;
  border-radius: 0;
  border: 1px solid var(--google-blue);

  &:hover {
    filter: brightness(115%);
  }
}

.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: white;
}

.logo {
  width: 20px;
  height: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--google-blue);
  color: white;
  font-size: 0.8rem;
  padding: 5px;
}
