.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
  align-items: center;
}

.name-button {
  font-size: 18px;
  line-height: 0;
  padding: 15px;
}
