.checkbox {
	height: 0;
	width: 0;
  margin: 0;
  padding: 0;
	visibility: hidden;
}

.toggle {
	cursor: pointer;
	width: 40px;
	height: 24px;
	background: grey;
	display: block;
	border-radius: 12px;
	position: relative;
  transition: 0.25s;

  &:hover {
    background: darkgrey;
  }

  &:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 6px;
    transition: 0.25s;
  }

  &:active:after {
    width: 20px;
  }
}

.checkbox:checked + .toggle {
	background: black;

  &:hover {
    background: darkslategrey;
  }

  &:after {
    left: calc(100% - 6px);
	  transform: translateX(-100%);
  }
}
