/*------------*
 | Primitives |
 *------------*/
:root {
  --black: #224;
  --white: #eeeee0;
}

/*------------*
 | Dark theme |
 *------------*/
:root, .theme-dark {
  --background: var(--black);
  --text: var(--white);
  --highlight: #8ac;
  --input-border: #446;
  --input-border-focus: #668;
  --link: #48c;
  --link-hover: #6ad;
  --button-color: #369;
  --button-hover-color: #48c;
  --button-active-color: #47a;
  --button-text: var(--white);
}

/*-------------*
 | Light theme |
 *-------------*/
.theme-light {
  --background: var(--white);
  --text: var(--black);
  --highlight: #68c;
  --input-border: #66a;
  --input-border-focus: #99c;
  --link: #269;
  --link-hover: #48c;
  --button-color: #369;
  --button-hover-color: #48c;
  --button-active-color: #47a;
  --button-text: var(--white);
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}
